<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="width: 100%; background-color: #000000; background-image: url('../../assets/img/fondo_front_obscura.jpg');">
	<div class="col-md-6 px-0">
	  <h1 class="display-4 fst-italic">#billetescomoarroz</h1>
	  <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
	  <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
	</div>
      </div>