	<!-- Three columns of text below the carousel -->
	<div class="row">
	  <div class="col-lg-4">
	    <img class="bd-placeholder-img rounded-circle" style="background-color: #000000;" width="140" height="140" src="../../assets/img/blog.png" alt="...">
	    <h2 class="fw-normal">Blog</h2>
	  </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
	    <img class="bd-placeholder-img rounded-circle" style="background-color: #000000;" width="140" height="140" src="../../assets/img/noticias.png" alt="...">
	    <h2 class="fw-normal">Noticias</h2>
	  </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
	    <img class="bd-placeholder-img rounded-circle" style="background-color: #000000;" width="140" height="140" src="../../assets/img/suscribe.png" alt="...">
	    <h2 class="fw-normal">Subscribirse</h2>
	  </div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
    
    
	